{% include base_path %}

<section class="page__share">  
  <h4 class="page__share-title">Share On</h4>  

  <a href="https://service.weibo.com/share/share.php?url={{ base_path }}{{ page.url }}" class="btn btn--weibo" title="Share on Weibo">  
    <i class="fab fa-fw fa-weibo" aria-hidden="true"></i><span> Weibo</span>  
  </a>  

  <a href="javascript:void(0);" class="btn btn--wechat" title="Share on WeChat" onclick="shareToWeChat('{{ base_path }}{{ page.url }}')">  
    <i class="fab fa-fw fa-wechat" aria-hidden="true"></i><span> WeChat</span>  
  </a>  
</section>  

<script>  
  function shareToWeChat(url) {  
    // Create a WeChat sharing link  
    alert("Please scan the QR code to share: " + url);  
    // You can implement a QR code generation here or redirect to a QR code service  
  }  
</script>